.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    color: black;
    padding-left: 100px;
}

.navbar .logo {
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;

}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.search-cart {
    display: flex;
    align-items: center;
}

.search-cart input {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-cart .icon {
    margin: 0 5px;
    cursor: pointer;
}